.graph {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.graph-container {
  max-width: 1280px;
  padding: 20px 0;
  display: flex;
}

.doc-button img {
  width: 45px;
}

.doc-button {
  position: relative;
  top: 20px;
  height: 40px;
  padding: 0;
  background: transparent;
}

.graph-content {
  display: flex;
  flex-wrap: wrap;
}

.request-area,
.response-area {
  width: 310px;
  height: 180px;
  resize: none;
}

.editor {
  display: flex;
  gap: 10px;
}

.request-section {
  display: flex;
  gap: 10px;
}

.submit-button {
  height: 30px;
  position: relative;
  top: 20px;
  font-size: 24px;
}

.variables-headers {
  display: flex;
  gap: 10px;
}

.variables {
  width: 280px;
  height: 180px;
}
.headers {
  min-height: 180px;
}

.header-item {
  display: flex;
  gap: 10px;
  padding: 5px;
}

.url-input {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-http {
  height: 30px;
  width: 280px;
}

.add-button {
  width: 150px;
  padding: 10px;
}
