header {
  background-color: rgb(1 13 24);
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  width: 85px;
  height: 85px;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button-nav {
  border: 2px solid #80b5e4;
  border-radius: 10px;
  background: transparent;
  color: #80b5e4;
  width: 125px;
  height: 44px;
  padding: 0.6em;
}

.button-nav:hover {
  box-shadow: 0 0 10px rgba(0, 195, 255, 0.8);
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: 1s background-color;
}

.css-j204z7-MuiFormControlLabel-root {
  margin-right: 0 !important;
}

.header.sticky {
  background-color: #80b5e4;
}

.sticky .button-nav {
  border-color: rgb(1 13 24);
  color: rgb(1 13 24);
}

.sticky span.MuiSwitch-track,
.sticky .MuiSwitch-switchBase.Mui-checked + span.MuiSwitch-track {
  background-color: rgb(1 13 24);
}

.sticky .button-nav:hover {
  box-shadow: 0 0 10px rgba(1, 13, 24, 0.8);
}

@media (max-width: 640px) {
  .logo > img {
    width: 60px;
    height: 60px;
  }

  .button-nav {
    border: 1px solid #80b5e4;
    border-radius: 6px;
    width: 105px;
    height: 36px;
    font-size: 0.8em;
  }
}

@media (max-width: 420px) {
  .header-container {
    flex-direction: column;
    gap: 5px;
  }

  .logo > img {
    width: 50px;
    height: 50px;
  }
}
