.documentation {
  display: flex;
}
.MuiDrawer-paper {
  background-color: #eef2f6 !important;
}
.schema-container {
  width: 300px;
  height: fit-content;
  background-color: #eef2f6;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.schema-page {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.argument {
  display: inline;
}

.schema-nav {
  height: 25px;
}

.schema-nav-link {
  display: inline-block;
  width: 100%;
  color: #213547;
  font-weight: 400;
  font-size: 16px;
}

.schema-nav {
  width: 100%;
  cursor: pointer;
}

.schema-nav:hover,
.schema-nav-link:hover {
  color: cadetblue;
  text-decoration: underline;
}

.schema-nav-link::before {
  content: '< ';
}

.schema-page-title {
  font-size: 32px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.schema-subtitle {
  font-size: 18px;
  color: #213547;
}

.schema-subtitle::before {
  content: '⚙ ';
}

.field-name {
  color: #4c45d7;
}

.arg-name {
  color: #c61c1c;
}

.arg-type {
  color: #d87d28;
}

.schema-loader {
  position: relative;
  top: 127px;
  height: 40px;
}

.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  width: 320px;
}

.css-4t3x6l-MuiPaper-root-MuiDrawer-paper::-webkit-scrollbar {
  width: 7px;
}

.css-4t3x6l-MuiPaper-root-MuiDrawer-paper::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px #223c5033 inset;
  background-color: #f7f7fc;
  border-radius: 10px;
}

.css-4t3x6l-MuiPaper-root-MuiDrawer-paper::-webkit-scrollbar-thumb {
  background: #32516c;
  border-radius: 10px;
}
