.documentation {
  display: flex;
}
.MuiDrawer-paper {
  background-color: #eef2f6 !important;
}
.schema-container {
  width: 300px;
  min-height: calc(100% - 20px);
  background-color: #eef2f6;
  padding: 10px 7.5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.doc-button {
  top: 127px;
  right: 25px;
  height: 40px;
  transform: rotate(-90deg);
}

.schema-page {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.argument {
  display: inline;
}

.schema-nav {
  height: 25px;
}

.schema-nav-link {
  display: inline-block;
  width: 100%;
  color: #213547;
  font-weight: 400;
  font-size: 16px;
  text-align: start;
}

.schema-nav {
  width: 100%;
  cursor: pointer;
}

.schema-nav:hover,
.schema-nav-link:hover {
  color: cadetblue;
  text-decoration: underline;
}

.schema-nav-link::before {
  content: '< ';
}

.schema-page-title {
  font-size: 32px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.schema-subtitle {
  font-size: 18px;
  color: #213547;
}

.schema-subtitle::before {
  content: '⚙ ';
}

.field-name {
  color: #4c45d7;
}

.arg-name {
  color: #c61c1c;
}

.arg-type {
  color: #d87d28;
}

.schema-loader {
  position: relative;
  top: 127px;
  height: 40px;
}

.schema::-webkit-scrollbar {
  width: 5px;
}

.schema::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px #223c5033 inset;
  background-color: #f7f7fc;
  border-radius: 10px;
}

.schema::-webkit-scrollbar-thumb {
  background: #32516c;
  border-radius: 10px;
}

.schema-head {
  display: flex;
  gap: 5px;
  align-items: center;
}

.schema .close-btn {
  min-width: 30px;
  background-color: #35536e;
}

.schema {
  height: 650px;
  overflow-y: auto;
  width: 0;
  transition: 0.3s;
  transform: translateX(-320px);
}

.schema.open {
  transform: translateX(0);
  width: 320px;
  position: sticky;
  height: 100vh;
  top: 0;
}

.schema-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.schema-page * {
  width: 100%;
  text-align: start;
}

@media (max-width: 860px) {
  .graph {
    flex-direction: column;
    padding: 0 10px;
  }
  .schema {
    height: 0;
  }
  .schema.open,
  .schema-container {
    width: calc(100% - 15px);
    height: 300px;
  }
  .schema.open {
    width: 100%;
    position: static;
  }
  .schema-container {
    height: auto;
  }
  .documentation {
    flex-direction: column;
  }
  .doc-button,
  .schema-loader {
    top: 0;
  }

  .doc-button {
    height: 40px;
    left: 40%;
    width: 100px;
    transform: rotate(0deg);
    top: 20px;
  }
  .graph-section {
    width: unset;
  }
}
